// basics
$white: #fff;
$black: #000;
// header colors
$mainBlack: #171717;
$borderColor: #fbfbfb;
// nav colors
$tabColor: #c2cacc;
$lightBlue: #1ba8c3;
$grey: #727272;
$lightGrey: #c8c8c8;
$blue: #58a1fd;
$yellow: #ede167;
$green: #83c491;
$red: #ff4f53;
$stripColor: #f6fbff;
$loadColor: #3eb7c8;
$tableBorder: #ddd;

