<!-- tabular data -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tabs-holder">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#templates" aria-controls="templates" role="tab" data-toggle="tab">templates</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#active" aria-controls="active" role="tab" data-toggle="tab">active</a>
                        </li>
                        <li role="presentation">
                            <a href="#returned" aria-controls="returned" role="tab" data-toggle="tab">returned</a>
                        </li>
                    </ul>
                    <div class="search-input">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" id="search" placeholder="Search ...">
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="templates">
                            <div class="table-responsive">
                                <table id="tempTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>title</th>
                                            <th>template</th>
                                            <th>course</th>
                                            <th>attendants</th>
                                            <th>start date</th>
                                            <th>end date</th>
                                            <th>days left</th>
                                            <th>solved</th>
                                            <th>graded</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox1" value="temp-option1">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox2" value="temp-option2">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox3" value="temp-option3">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox4" value="temp-option4">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox5" value="temp-option5">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="temp-checkbox6" value="temp-option6">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active fade in" id="active">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>title</th>
                                            <th>template</th>
                                            <th>course</th>
                                            <th>attendants</th>
                                            <th>start date</th>
                                            <th>end date</th>
                                            <th>days left</th>
                                            <th>solved</th>
                                            <th>graded</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox1" value="oactiveOtion1">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox2" value="oactiveOtion2">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="activeCheckbo3" value="oactiveOtion3">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 2 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment-Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 9</td>
                                            <td class="attend-cell">G9 English 9</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-50</td>
                                            <td class="solved-cell">50%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox4" value="activeOptio4">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 3 - assignment 2</a>
                                            </td>
                                            <td class="temp-cell">Unit 2 - assignment-Lesson 3 - Theme 2</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:56 pm</span>
                                            </td>
                                            <td class="days-cell">-56</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox5" value="active-option5">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1-assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Homework - 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox6" value="active-option6">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox7" value="active-option7">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox8" value="active-option8">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 2 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment-Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 9</td>
                                            <td class="attend-cell">G9 English 9</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-50</td>
                                            <td class="solved-cell">50%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox9" value="active-option9">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 3 - assignment 2</a>
                                            </td>
                                            <td class="temp-cell">Unit 2 - assignment-Lesson 3 - Theme 2</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:56 pm</span>
                                            </td>
                                            <td class="days-cell">-56</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox10" value="active-option10">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox11" value="active-option11">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox12" value="active-option12">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 2 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment-Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 9</td>
                                            <td class="attend-cell">G9 English 9</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-50</td>
                                            <td class="solved-cell">50%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox13" value="active-option13">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 3 - assignment 2</a>
                                            </td>
                                            <td class="temp-cell">Unit 2 - assignment-Lesson 3 - Theme 2</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:56 pm</span>
                                            </td>
                                            <td class="days-cell">-56</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="active-checkbox14" value="active-option14">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="returned">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>title</th>
                                            <th>template</th>
                                            <th>course</th>
                                            <th>attendants</th>
                                            <th>start date</th>
                                            <th>end date</th>
                                            <th>days left</th>
                                            <th>solved</th>
                                            <th>graded</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox1" value="returned-option1">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 8</td>
                                            <td class="attend-cell">G8 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-146</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox2" value="returned-option2">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox3" value="returned-option3">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 2 - assignment 1</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment-Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 9</td>
                                            <td class="attend-cell">G9 English 9</td>
                                            <td class="start-cell">
                                                <span class="day">17/10/2017</span>
                                                <span class="time">08:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-50</td>
                                            <td class="solved-cell">50%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox2" value="returned-option2">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox4" value="returned-option4">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="check-cell">
                                                <input type="checkbox" name="returned-checbox2" value="returned-option2">
                                            </td>
                                            <td class="title-cell">
                                                <a href="#">Unit 1 - assignment 4</a>
                                            </td>
                                            <td class="temp-cell">Unit 1 - assignment - Lesson 1 - Theme 1</td>
                                            <td class="course-cell">English G 7</td>
                                            <td class="attend-cell">G7 English 8</td>
                                            <td class="start-cell">
                                                <span class="day">15/09/2017</span>
                                                <span class="time">06:29 pm</span>
                                            </td>
                                            <td class="end-cell">
                                                <span class="day">08/12/2017</span>
                                                <span class="time">05:36 pm</span>
                                            </td>
                                            <td class="days-cell">-200</td>
                                            <td class="solved-cell">0%</td>
                                            <td class="graded-cell">100%</td>
                                            <td class="icon-cell">
                                                <i class="fa fa-bar-chart fa-2x"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="btn-holder">
                        <button class="load-more btn">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>